<nav>
  <label>JualMobil.com</label>
  <a href="/"><button>Home</button></a>
  <a href="/login"><button>Sign In</button></a>
  <a href="/register"><button>Sign Up</button></a>
  <a href="/logout"><button>Logout</button></a>
</nav>